<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
    <style>
        button{
            margin-top: 10px;
      
        }

        .cal{
            margin-top: 50px;
        }
        .col-3{
            padding: 0px;
        }
    </style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-1"></div>
            <div class="col-lg-8 col-10">
                <div class="cal">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-item">
                            <input type="text" name="username" class="form-control" id="screen" placeholder="">
                        </div>
                        
                    </div>


                    <div class="row" >
                        <div class="col-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-item">
                                    <button type="button" style="border: none;" onclick="add(' pow(')" class="form-control ">pow</button>
      
                                    <button type="button" style="border: none;" onclick="clearAll()" class="form-control ">AC</button>

                                    <button type="button" style="border: none;"onclick="add('7')" class="form-control ">7</button>
                                    <button type="button" style="border: none;"onclick="add('4')"  class="form-control ">4</button>
                                    <button type="button" style="border: none;"onclick="add('1')"  class="form-control ">1</button>
                                    <button type="button" style="border: none;"onclick="add('0')"  class="form-control ">0</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-item">
                                    <button type="button" style="border: none;" onclick="add(' sqrt(')" class="form-control ">sqrt</button>
 
                                    <button type="button" style="border: none;"  onclick="add('(')" class="form-control ">(</button>
                                    <button type="button" style="border: none;" onclick="add('8')"  class="form-control ">8</button>
                                    <button type="button" style="border: none;" onclick="add('5')"  class="form-control ">5</button>
                                    <button type="button" style="border: none;" onclick="add('2')" class="form-control ">2</button>
                                    <button type="button" style="border: none;" onclick="add('.')"  class="form-control ">.</button>
                              
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-item">
                                    <button type="button" style="border: none;" onclick="add(' pow(')" class="form-control ">pow</button>
                                    <button type="button" style="border: none;"  onclick="add(')')" class="form-control ">)</button>
                                    <button type="button" style="border: none;"onclick="add('9')"  class="form-control ">9</button>
                                    <button type="button" style="border: none;" onclick="add('6')" class="form-control ">6</button>
                                    <button type="button" style="border: none;" onclick="add('3')"  class="form-control ">3</button>
                                    <button type="button" style="border: none;" onclick="add(',')" class="form-control ">,</button>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-item">
                                    <button type="button" style="border: none;" onclick="add(' pow(')" class="form-control ">pow</button>
                                    <button type="button" style="border: none;" onclick="add('+')" class="form-control ">+</button>
                                    <button type="button" style="border: none;" onclick="add('-')"  class="form-control ">-</button>
                                    <button type="button"style="border: none;"  onclick="add('*')" class="form-control ">*</button>
                                    <button type="button" style="border: none;" onclick="add('/')"  class="form-control ">/</button>
                                    <button type="button" style="border: none;" onclick = "result()" class="form-control ">=</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>

                </div>


            </div>
            <div class="col-lg-2 col-1"></div>
        </div>
    </div>

    <script>
        function add(str){
            var temp = document.getElementById('screen')
            temp.value += str
            
        }
        function result(){
            var temp = document.getElementById('screen')
            var t =   temp.value
            t = t.replace(' ', 'Math.');
            try {
                temp.value = eval(t)
            } catch (error) {
                temp.value = "Lỗi con mẹ mày rồi !!!!"
            }
        
        }
        function clearAll(){

            var temp = document.getElementById('screen')
            temp.value = ""
        }
    </script>
</body>
</html>